a:hover {
  text-decoration: none;
}
.read-more {
  text-decoration: none;
  color: #dacb46;
  font-style: italic;
}
.read-more:hover {
  color: #ffdb35;
}
.type-7 a:hover {
  text-decoration: none;
  opacity: 2;
}
.type-7 .header-main {
  padding: 30px 0;
}
.type-7 .logo {
  padding: 0px;
  margin-top: 0;
  margin-bottom: 0;
}
.type-7 .logo img {
  max-width: inherit;
}
.type-7 .header-widget {
  overflow: hidden;
}
.type-7 .header-widget p {
  margin-bottom: 0;
  float: right;
  line-height: 1;
  font-size: 12px;
  padding-top: 3px;
}
.type-7 .buttonconnect {
  display: inline-block;
  float: right;
}
.type-7 .buttonfacebook {
  padding: 3px 3px 0 3px;
  background: linear-gradient(#4c69ba,#3b55a0);
  border: none;
  border-radius: 2px;
  color: #fff;
  float: left;
}
.type-7 .btn-face {
  width: 14px;
  height: 14px;
  background-color: #fff;
  color: #4c69ba;
  padding-top: 2px;
  margin-right: 3px;
}
.type-7 .pluginCountButtonNub {
  height: 0;
  left: 2px;
  position: relative;
  top: 5px;
  width: 5px;
  z-index: 2;
  float: left;
}
.type-7 .pluginCountButtonNub s,
.type-7 .pluginCountButtonNub i {
  border-color: transparent #90949c;
  border-style: solid;
  border-width: 4px 5px 4px 0;
  display: block;
  position: relative;
  top: 1px;
}
.type-7 .pluginCountButtonNub i {
  border-right-color: #fff;
  left: 2px;
  top: -7px;
}
.type-7 .pluginCountButton {
  background: white;
  border: 1px solid #90949c;
  border-radius: 2px;
  color: #4b4f56;
  display: inline-block;
  font-size: 10px;
  height: auto;
  line-height: 18px;
  margin-left: 6px;
  min-width: 15px;
  padding: 0 3px;
  text-align: center;
  white-space: nowrap;
  float: left;
}
.type-7 .buttontweet {
  position: relative;
  height: 20px;
  padding: 1px 8px 1px 6px;
  font-weight: 300;
  color: #fff;
  cursor: pointer;
  background-color: #1b95e0;
  border-radius: 3px;
  box-sizing: border-box;
  border: none;
  margin-left: 20px;
}
.type-7 .btn-tweet {
  margin-right: 3px;
}
.type-7 .contact {
  font-size: 14px;
  font-family: open sans, arial, sans-serif;
  font-weight: 300;
  margin-top: 10px;
}
.type-7 .contact .fa.fa-phone {
  font-size: 22px;
  top: 2px;
}
.type-7 .phone {
  margin-right: 30px;
}
.type-7 .contact p {
  float: left;
  margin-bottom: 0;
}
.type-7 .contact .fa {
  color: #6091ba;
  margin-right: 8px;
  position: relative;
  font-size: 18px;
  top: 1px;
}
.type-7 .contact p a {
  color: #444;
}
.type-7 .buttonfacebook:hover {
  background: #5b7bd5;
  background: linear-gradient(#5b7bd5,#4864b1);
  border-color: #5874c3 #4961a8 #41599f;
  box-shadow: inset 0 0 1px #607fd6;
}
.type-7 .buttontweet:hover {
  background-color: #0c7abf;
}
.type-7 .email {
  margin-right: 5px;
}
@media (max-width: 680px) {
  .type-7 .buttonconnect {
    float: none;
    margin-top: 20px;
  }
  .type-7 .navbar {
    display: none;
  }
  .type-7 .nav li {
    float: none;
  }
  .type-7 .dropdown-menu {
    position: static;
    top: auto;
    left: auto;
    float: none;
  }
  .type-7 .email {
    padding-top: 5px;
  }
  .type-7 .dropdown-submenu .dropdown-menu {
    position: static !important;
    top: auto;
    left: auto !important;
    float: none;
  }
  .type-7 .dropdown-menu li a {
    padding-left: 25px;
  }
  .type-7 .dropdown-submenu .dropdown-menu li a {
    padding-left: 35px;
  }
  .type-7 .btn-menu {
    display: block !important;
  }
  .type-7 .flex-caption {
    position: static;
    display: block;
    width: 100%;
  }
  .type-7 .flex-caption .main {
    margin-bottom: 0;
    font-size: 13px;
    width: 100%;
  }
  .type-7 .flex-caption .secondary {
    font-size: 12px;
    display: block;
    width: 100%;
  }
  .type-7 .flex-control {
    display: none;
  }
}
