a:hover {
  text-decoration: none;
}
.read-more {
  text-decoration: none;
  color: #dacb46;
  font-style: italic;
}
.read-more:hover {
  color: #ffdb35;
}
.type-73 {
  margin-top: 80px;
  font-family: "Lato", sans-serif;
}
.type-73 .container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.type-73 div {
  display: block;
}
.type-73 * {
  box-sizing: border-box;
}
.type-73 .row {
  margin-left: -15px;
  margin-right: -15px;
}
.type-73 .col-sm-12,
.type-73 .col-md-6 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.type-73 .stm-event_view_grid {
  background: #fff;
  border: 1px solid #e6e6e6;
  padding: 28px 30px 29px 30px;
  margin-bottom: 30px;
}
.type-73 .stm-event_view_grid .stm-event__left {
  float: left;
  margin-top: 5px;
}
.type-73 .stm-event_view_grid .stm-event__date {
  position: relative;
  float: left;
  width: 100px;
  height: 94px;
  padding-top: 21px;
  border: 4px solid #81ca00;
  border-radius: 4px;
  text-align: center;
}
.type-73 .stm-event_view_grid .stm-event__date :before {
  content: "";
  position: absolute;
  top: -9px;
  left: 16px;
  width: 4px;
  height: 14px;
  border-radius: 2px;
  background: #81ca00;
}
.type-73 .stm-event_view_grid .stm-event__date :after {
  content: "";
  position: absolute;
  top: -9px;
  right: 16px;
  width: 4px;
  height: 14px;
  border-radius: 2px;
  background: #81ca00;
}
.type-73 .stm-event_view_grid .stm-event__date-day {
  margin-bottom: 13px;
  font-size: 48px;
  color: #011b3a;
  line-height: 22px;
}
.type-73 .stm-event_view_grid .stm-event__date-month {
  font-size: 14px;
  color: #808080;
  line-height: 22px;
}
.type-73 .stm-event_view_grid .stm-event__content {
  overflow: hidden;
  padding-left: 25px;
}
.type-73 .stm-event_view_grid .stm-event__meta {
  margin-bottom: 14px;
}
.type-73 .stm-event_view_grid .stm-event__meta ul {
  margin-bottom: 0;
  padding-left: 0;
  font-size: 0;
  list-style: none;
  line-height: normal;
}
.type-73 .stm-event_view_grid .stm-event__meta li {
  display: inline-block;
  color: #81ca00;
  font-size: 13px;
  margin-right: 30px;
}
.type-73 .stm-event_view_grid .stm-event__meta .fa {
  margin-right: 10px;
  color: #999;
}
.type-73 .stm-event_view_grid .stm-event__title {
  margin-bottom: 12px;
}
.type-73 .stm-event_view_grid .stm-event__title a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s ease;
}
.type-73 .stm-event_view_grid .stm-event__summary {
  font-size: 14px;
  line-height: 24px;
  color: #808080;
}
.type-73 .stm-event_view_grid .stm-event__summary p {
  line-height: inherit;
  font-size: inherit;
  color: inherit;
}
.type-73 ul {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
  margin-top: 0;
}
.type-73 li {
  text-align: -webkit-match-parent;
}
.type-73 .fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.type-73 h5 {
  display: block;
  -webkit-margin-before: 1.67em;
  -webkit-margin-after: 1.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-family: inherit;
  line-height: 1.1;
  margin: 0 0 27px 0;
  font-size: 18px;
  font-weight: 400;
  color: #011b3a;
}
.type-73 a {
  background-color: transparent;
  cursor: auto;
}
.type-73 p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  margin: 0 0 10px;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .type-73 .vc_tta-tabs .stm-event_view_grid .stm-event__left {
    float: none;
    margin: 0 0 30px;
  }
  .type-73 .vc_tta-tabs .stm-event_view_grid .stm-event__content {
    padding-left: 0;
    text-align: center;
  }
  .type-73 .vc_tta-tabs .stm-event_view_grid .stm-event__date {
    float: none;
    margin: 0 auto;
  }
  .type-73 .container {
    margin: 0 auto;
  }
  .type-73 .col-md-12 {
    float: left;
    width: 100%;
    position: relative;
    box-sizing: border-box;
  }
}
@media (min-width: 992px) {
  .type-73 .col-md-6 {
    float: left;
    width: 50%;
    position: relative;
    box-sizing: border-box;
  }
  .type-73 .container {
    margin: 0 auto;
  }
}
